    body{
    font-family: 'Roboto', sans-serif;}


    .nav-menu{color: white;
         height: 200px;
         width: 1400px;
         background-image: linear-gradient(rgb(213, 192, 240),rgb(12, 117, 238));
}   
   .nav-menu ul li{
        list-style-type: none;
        margin: 20px;
        float: left;
        font-size: 20px;
        text-align: right;
   }
   .head-align{ 
       text-align: center;}

   section{
        display: flex;}
   
    h1{
        font-size: 40px;
        text-align: justify;}
    span{
        color:rgb(59, 97, 221);}
    
.half-width{
     width:60%;
        padding:20px; 
}
    .half-width img{
        height: 600px;}
    .text-size{
        padding: 10px;}
    .hypbatton{
        text-decoration: none;
        background-image: linear-gradient(orange,rgb(238, 105, 29));
         padding: 8px;
        border-radius: 20px;
        color: azure;
        text-align: center;
        line-height: 20px;
}
.background{
     background-image: url(images/7.png);
   
    }
    
.lower-pic{width: 100%;}
.box{margin: 10px;
    border: 1px solid white;
    padding: 20px;
    box-sizing: border-box;
    box-shadow:1px 2px 4px gray ;
    border-radius: 20px;
    background-color: white;
    width: 400px;
}
.box:hover{ box-shadow: 6px 12px 10px gray ;}
.bbutton{ 
    border: none;
    border-radius: 25px;
    font-size: 32px;
    background-color: white;
    margin: 0 auto;
    display: block;
}
.bottom-nav{ 
    background-color: darksalmon;
    color: white;
}  
.bottom-nav ul li{ list-style-type: none;
    margin: 20px;
    float:left
}
footer{
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: white;
    background-color: darksalmon;
}